* {
    box-sizing: border-box;
}

.parent-size {
    width: 800px;
    height: 800px;
}

.parent-bg {
    background: salmon;
}

.p-10 {
    padding: 10px;
}

.m-10 {
    margin: 10px;
}

.d-f {
    display: flex;
}

.f-d-column {
    flex-direction: column;
}

.f-d-row {
    flex-direction: row;
}

.j-c-center {
    justify-content: center;
}

.a-i-end {
    align-items: flex-end;
}

.j-c-b {
    justify-content: space-between;
}

.a-s {
    align-self: flex-start;
}

.a-s-end {
    align-self: flex-end;
}

.green-bg {
    background: aquamarine;
}

.green-size {
    flex-grow: 0.333;
}

.inv-2-size {
    flex-grow: 1;
}

.yellow-bg {
    background: lightyellow;
}

.yellow-size {
    width: 225px;
    height: 225px;
}

.blue-bg {
    background: #0088ff;
}

.blue-size {
    width: 50px;
    height: 50px;
}

.div-size {
    width: 50%;

}

.menu-size {

    min-height: 100px;
}

.bg-red {
    background: crimson;
}

.logo {
    background: blueviolet;
}

.nth:nth-child(odd) {
    align-self: flex-end;
}

.m-size {
    width: 300px;
    height: 100%;
}

.l-size {
    height: 50px;
    flex-grow: 1;
}

.menu {
    background: orange;
}

.scrol {
    overflow: scroll;
}

.pink-bg {
    background: plum;
}

.pink-size {
    min-height: 200px;
    flex-grow: 1;
}

.g-size {
    min-height: 100px;
    flex-grow: 1;
}

.inv-size {
    flex: 1 0 auto;

}

.b-size {
    flex-grow: 0.3333;
}